<!doctype html>
<html lang="en">
  <head>
   <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <h1>Admin - Actualizar</h1>
        
    <form action="/admin/usuarios/id" method="post">
        <label for="">
            Nombre
            <input type="text" name="nombre" value="nombre...">
        </label>
        <input type="submit" value="Actualizar">
    </form>


    <!-- footer incluido desde el partial footer.ejs-->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>